<%= form_with(model: @movie, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <%= f.hidden_field :director_id, value: @director.id %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create movie", class: "btn btn-block btn-outline-secondary" %>
<% end %>
